<div id="chat-item">

<div id="chat_{{ chat.id }}" hx-swap-oob="afterbegin" class="fade-in-up">
    <a href="{% url 'orders:chatroom' chat.group_name %}">
        <div class="chat-item active"
             hx-ext="ws"
             ws-connect="/ws/chatroom/{{ chat.group_name }}"
             hx-get="{% url 'orders:chatroom' chat.group_name %}?chat_id={{ chat.id }}"
             hx-target="#chat-detail-container"
             hx-swap="innerHTML"
             hx-push-url="true">
            <div class="chat-item-header">
                <span class="chat-item-price">{{ chat.last_offer.price }} ₽</span>
                <span class="chat-item-date">{{ chat.last_offer.created|date:"H:i | d.m.Y" }}</span>
            </div>
            {% if user.username == chat.executor.username %}
                <div class="chat-item-executor">Вы</div>
            {% else %}
                <div class="chat-item-executor">{{ chat.executor.username }}</div>
            {% endif %}
            <div class="chat-item-preview">{{ chat.last_offer.description|truncatechars:50 }}</div>
        </div>
    </a>
</div>

<style>
    @keyframes fadeInAndUp {
        from {opacity: 0; transform: translateY(12px);}
        to {opacity: 1; transform: translateY(0px);}
    }
    .fade-in-up {
        animation: fadeInAndUp 0.6s ease;
    }
</style>

</div>